	



	<!-- Main Table(You can define padding accordingly) -->
<table width="600px" border="0" cellspacing="0" cellpadding="5" align="center">
<tr>
<td width="50%">

<!-- Table on left side -->
<p>Your board</p>
	<table width="300px" height="300px">
		<th></th>
		<%(1..10).each do |head| %>
		<th><%=head%></th>
		<%end%>
		<% @board.each_with_index do |row, index| %>
			<tr><th><%=(index + 65).chr%></th>
				<% row.each do |col| %>
					<td <%if col.status == "S" %>
									class=<%="ship"%>
									<%end%>>
								<%=col.status %></td>
					<% end %>
			</tr>
		<% end %>
	</table><br>
<!-- END -->
</td>
<td width="50%">

	<p><%=@opponent.name%>'s board.</p>
	<table width="300px" height="300px">
		<th></th>
		<%(1..10).each do |head| %>
		<th><%=head%></th>
		<%end%>
		<% @opponent_board.each_with_index do |row, index| %>
			<tr><th><%=(index + 65).chr%></th>
				<% row.each do |col| %>
					<td <%if col.status == "S" %>
									class=<%="ship"%>
									<%end%>>
								<%=col.status %></td>
					<% end %>
			</tr>
		<% end %>
	</table>

</table>